/* ============================================================
   SIMULADOR DE CAJERO AUTOMÁTICO
   Script completo de base de datos
   Motor: SQL Server
   ============================================================ */

USE master;
GO

/* Reconstrucción limpia de la base de datos */
IF DB_ID(N'SimuladorCajeroDB') IS NOT NULL
BEGIN
    ALTER DATABASE [SimuladorCajeroDB]
        SET SINGLE_USER
        WITH ROLLBACK IMMEDIATE;

    DROP DATABASE [SimuladorCajeroDB];
END;
GO

CREATE DATABASE [SimuladorCajeroDB];
GO

ALTER DATABASE [SimuladorCajeroDB]
    SET RECOVERY SIMPLE;
GO

ALTER DATABASE [SimuladorCajeroDB]
    SET AUTO_CLOSE OFF;
GO

USE [SimuladorCajeroDB];
GO

/* Opciones necesarias para restricciones e índices */
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
SET ANSI_PADDING ON;
SET ANSI_WARNINGS ON;
SET ARITHABORT ON;
SET CONCAT_NULL_YIELDS_NULL ON;
SET NUMERIC_ROUNDABORT OFF;
GO

/****** Objeto: Table [dbo].[Cuentas] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cuentas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cuentas](
	[IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NumeroCuenta] [varchar](20) NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
	[Activa] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Objeto: Table [dbo].[Tarjetas] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tarjetas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tarjetas](
	[IdTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[IdCuenta] [int] NOT NULL,
	[NumeroTarjeta] [char](16) NOT NULL,
	[NipHash] [nvarchar](255) NOT NULL,
	[Bloqueada] [bit] NOT NULL,
	[IntentosFallidos] [tinyint] NOT NULL,
	[FechaExpiracion] [date] NOT NULL,
	[Activa] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[IdTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Objeto: Table [dbo].[Transacciones] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transacciones]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Transacciones](
	[IdTransaccion] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCuenta] [int] NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[SaldoAnterior] [decimal](18, 2) NOT NULL,
	[SaldoPosterior] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](10) NOT NULL,
	[FechaTransaccion] [datetime2](0) NOT NULL,
	[IdTransaccionOriginal] [bigint] NULL,
	[MotivoReversion] [nvarchar](250) NULL,
	[Referencia] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Transacciones] PRIMARY KEY CLUSTERED 
(
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Cuentas] ON 

INSERT [dbo].[Cuentas] ([IdCuenta], [IdUsuario], [NumeroCuenta], [Saldo], [Activa], [FechaCreacion]) VALUES (1, 1, N'1000000001', CAST(4000.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-22T22:02:55.0000000' AS DateTime2))
INSERT [dbo].[Cuentas] ([IdCuenta], [IdUsuario], [NumeroCuenta], [Saldo], [Activa], [FechaCreacion]) VALUES (2, 2, N'1000000002', CAST(2500.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-22T22:02:55.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cuentas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarjetas] ON 

INSERT [dbo].[Tarjetas] ([IdTarjeta], [IdCuenta], [NumeroTarjeta], [NipHash], [Bloqueada], [IntentosFallidos], [FechaExpiracion], [Activa], [FechaCreacion]) VALUES (1, 1, N'4000000000000001', N'PENDIENTE_BCRYPT_1234', 0, 0, CAST(N'2030-12-31' AS Date), 1, CAST(N'2026-07-22T22:02:55.0000000' AS DateTime2))
INSERT [dbo].[Tarjetas] ([IdTarjeta], [IdCuenta], [NumeroTarjeta], [NipHash], [Bloqueada], [IntentosFallidos], [FechaExpiracion], [Activa], [FechaCreacion]) VALUES (2, 2, N'4000000000000002', N'PENDIENTE_BCRYPT_5678', 0, 0, CAST(N'2030-12-31' AS Date), 1, CAST(N'2026-07-22T22:02:55.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tarjetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Transacciones] ON 

INSERT [dbo].[Transacciones] ([IdTransaccion], [IdCuenta], [Tipo], [Monto], [SaldoAnterior], [SaldoPosterior], [Estado], [FechaTransaccion], [IdTransaccionOriginal], [MotivoReversion], [Referencia]) VALUES (1, 1, N'RETIRO', CAST(1000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'APLICADA', CAST(N'2026-07-22T22:04:41.0000000' AS DateTime2), NULL, NULL, N'346ada1b-4f03-4c81-a244-a624dc07b6a4')
INSERT [dbo].[Transacciones] ([IdTransaccion], [IdCuenta], [Tipo], [Monto], [SaldoAnterior], [SaldoPosterior], [Estado], [FechaTransaccion], [IdTransaccionOriginal], [MotivoReversion], [Referencia]) VALUES (2, 1, N'RETIRO', CAST(11000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'RECHAZADA', CAST(N'2026-07-22T22:05:01.0000000' AS DateTime2), NULL, NULL, N'a78b8c8e-77f4-4c99-8c44-d1764213c50b')
INSERT [dbo].[Transacciones] ([IdTransaccion], [IdCuenta], [Tipo], [Monto], [SaldoAnterior], [SaldoPosterior], [Estado], [FechaTransaccion], [IdTransaccionOriginal], [MotivoReversion], [Referencia]) VALUES (3, 1, N'DEPOSITO', CAST(500.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), N'REVERTIDA', CAST(N'2026-07-22T22:05:54.0000000' AS DateTime2), NULL, N'Prueba de reversión', N'56139839-b147-4762-8dcc-40f054b13837')
SET IDENTITY_INSERT [dbo].[Transacciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Activo], [FechaRegistro]) VALUES (1, N'Bernardo', N'Martínez', NULL, N'bernardo@cajero.com', 1, CAST(N'2026-07-22T22:02:55.0000000' AS DateTime2))
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Activo], [FechaRegistro]) VALUES (2, N'Ana', N'López', N'Garcí­a', N'ana@cajero.com', 1, CAST(N'2026-07-22T22:02:55.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Cuentas_NumeroCuenta] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Cuentas]') AND name = N'UQ_Cuentas_NumeroCuenta')
ALTER TABLE [dbo].[Cuentas] ADD  CONSTRAINT [UQ_Cuentas_NumeroCuenta] UNIQUE NONCLUSTERED 
(
	[NumeroCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Cuentas_IdUsuario] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Cuentas]') AND name = N'IX_Cuentas_IdUsuario')
CREATE NONCLUSTERED INDEX [IX_Cuentas_IdUsuario] ON [dbo].[Cuentas]
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Tarjetas_NumeroTarjeta] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Tarjetas]') AND name = N'UQ_Tarjetas_NumeroTarjeta')
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [UQ_Tarjetas_NumeroTarjeta] UNIQUE NONCLUSTERED 
(
	[NumeroTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Tarjetas_IdCuenta] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Tarjetas]') AND name = N'IX_Tarjetas_IdCuenta')
CREATE NONCLUSTERED INDEX [IX_Tarjetas_IdCuenta] ON [dbo].[Tarjetas]
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Transacciones_Referencia] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Transacciones]') AND name = N'UQ_Transacciones_Referencia')
ALTER TABLE [dbo].[Transacciones] ADD  CONSTRAINT [UQ_Transacciones_Referencia] UNIQUE NONCLUSTERED 
(
	[Referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Transacciones_IdCuenta_Fecha] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Transacciones]') AND name = N'IX_Transacciones_IdCuenta_Fecha')
CREATE NONCLUSTERED INDEX [IX_Transacciones_IdCuenta_Fecha] ON [dbo].[Transacciones]
(
	[IdCuenta] ASC,
	[FechaTransaccion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UX_Transacciones_IdTransaccionOriginal] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Transacciones]') AND name = N'UX_Transacciones_IdTransaccionOriginal')
CREATE UNIQUE NONCLUSTERED INDEX [UX_Transacciones_IdTransaccionOriginal] ON [dbo].[Transacciones]
(
	[IdTransaccionOriginal] ASC
)
WHERE ([IdTransaccionOriginal] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Correo] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND name = N'UQ_Usuarios_Correo')
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Cuentas_Saldo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Cuentas] ADD  CONSTRAINT [DF_Cuentas_Saldo]  DEFAULT ((0)) FOR [Saldo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Cuentas_Activa]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Cuentas] ADD  CONSTRAINT [DF_Cuentas_Activa]  DEFAULT ((1)) FOR [Activa]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Cuentas_FechaCreacion]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Cuentas] ADD  CONSTRAINT [DF_Cuentas_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Tarjetas_Bloqueada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [DF_Tarjetas_Bloqueada]  DEFAULT ((0)) FOR [Bloqueada]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Tarjetas_IntentosFallidos]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [DF_Tarjetas_IntentosFallidos]  DEFAULT ((0)) FOR [IntentosFallidos]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Tarjetas_Activa]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [DF_Tarjetas_Activa]  DEFAULT ((1)) FOR [Activa]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Tarjetas_FechaCreacion]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [DF_Tarjetas_FechaCreacion]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Transacciones_Estado]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Transacciones] ADD  CONSTRAINT [DF_Transacciones_Estado]  DEFAULT ('APLICADA') FOR [Estado]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Transacciones_Fecha]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Transacciones] ADD  CONSTRAINT [DF_Transacciones_Fecha]  DEFAULT (sysdatetime()) FOR [FechaTransaccion]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Transacciones_Referencia]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Transacciones] ADD  CONSTRAINT [DF_Transacciones_Referencia]  DEFAULT (newid()) FOR [Referencia]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Usuarios_Activo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Usuarios_FechaRegistro]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaRegistro]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Cuentas_Usuarios]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cuentas]'))
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Cuentas_Usuarios]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cuentas]'))
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Usuarios]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tarjetas_Cuentas]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tarjetas]'))
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Tarjetas_Cuentas] FOREIGN KEY([IdCuenta])
REFERENCES [dbo].[Cuentas] ([IdCuenta])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Tarjetas_Cuentas]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tarjetas]'))
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [FK_Tarjetas_Cuentas]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Transacciones_Cuentas]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_Cuentas] FOREIGN KEY([IdCuenta])
REFERENCES [dbo].[Cuentas] ([IdCuenta])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Transacciones_Cuentas]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [FK_Transacciones_Cuentas]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Transacciones_TransaccionOriginal]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_TransaccionOriginal] FOREIGN KEY([IdTransaccionOriginal])
REFERENCES [dbo].[Transacciones] ([IdTransaccion])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Transacciones_TransaccionOriginal]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [FK_Transacciones_TransaccionOriginal]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cuentas_Saldo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cuentas]'))
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [CK_Cuentas_Saldo] CHECK  (([Saldo]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cuentas_Saldo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cuentas]'))
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [CK_Cuentas_Saldo]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Tarjetas_IntentosFallidos]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tarjetas]'))
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [CK_Tarjetas_IntentosFallidos] CHECK  (([IntentosFallidos]>=(0) AND [IntentosFallidos]<=(3)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Tarjetas_IntentosFallidos]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tarjetas]'))
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [CK_Tarjetas_IntentosFallidos]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Tarjetas_NumeroTarjeta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tarjetas]'))
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [CK_Tarjetas_NumeroTarjeta] CHECK  ((len([NumeroTarjeta])=(16) AND NOT [NumeroTarjeta] like '%[^0-9]%'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Tarjetas_NumeroTarjeta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tarjetas]'))
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [CK_Tarjetas_NumeroTarjeta]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [CK_Transacciones_Estado] CHECK  (([Estado]='REVERTIDA' OR [Estado]='RECHAZADA' OR [Estado]='APLICADA'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [CK_Transacciones_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_Monto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [CK_Transacciones_Monto] CHECK  (([Monto]>(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_Monto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [CK_Transacciones_Monto]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_SaldoAnterior]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [CK_Transacciones_SaldoAnterior] CHECK  (([SaldoAnterior]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_SaldoAnterior]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [CK_Transacciones_SaldoAnterior]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_SaldoPosterior]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [CK_Transacciones_SaldoPosterior] CHECK  (([SaldoPosterior]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_SaldoPosterior]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [CK_Transacciones_SaldoPosterior]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_Tipo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [CK_Transacciones_Tipo] CHECK  (([Tipo]='REVERSO' OR [Tipo]='RETIRO' OR [Tipo]='DEPOSITO'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Transacciones_Tipo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Transacciones]'))
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [CK_Transacciones_Tipo]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CambiarNip] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_CambiarNip]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_CambiarNip] AS' 
END
GO

/* ============================================================
   11. PROCEDIMIENTO: CAMBIAR NIP
   Recibe el nuevo hash generado por la aplicación.
   ============================================================ */
ALTER   PROCEDURE [dbo].[sp_CambiarNip]
    @IdTarjeta INT,
    @NuevoNipHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF @NuevoNipHash IS NULL
       OR LEN(LTRIM(RTRIM(@NuevoNipHash))) = 0
    BEGIN
        ;THROW 50005,
            N'El nuevo hash del NIP es obligatorio.',
            1;
    END;

    UPDATE dbo.Tarjetas
    SET
        NipHash = @NuevoNipHash,
        IntentosFallidos = 0
    WHERE IdTarjeta = @IdTarjeta
      AND Activa = 1
      AND Bloqueada = 0;

    IF @@ROWCOUNT = 0
    BEGIN
        ;THROW 50006,
            N'La tarjeta no existe, está inactiva o está bloqueada.',
            1;
    END;

    SELECT
        IdTarjeta,
        NumeroTarjeta,
        N'NIP actualizado correctamente.' AS Mensaje
    FROM dbo.Tarjetas
    WHERE IdTarjeta = @IdTarjeta;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ConsultarSaldo] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_ConsultarSaldo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_ConsultarSaldo] AS' 
END
GO

/* ============================================================
   8. PROCEDIMIENTO: CONSULTAR SALDO
   ============================================================ */
ALTER   PROCEDURE [dbo].[sp_ConsultarSaldo]
    @IdCuenta INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Cuentas
        WHERE IdCuenta = @IdCuenta
          AND Activa = 1
    )
    BEGIN
        ;THROW 50001,
            N'La cuenta no existe o se encuentra inactiva.',
            1;
    END;

    SELECT
        IdCuenta,
        NumeroCuenta,
        Saldo,
        Activa
    FROM dbo.Cuentas
    WHERE IdCuenta = @IdCuenta
      AND Activa = 1;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerTarjetaAutenticacion] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_ObtenerTarjetaAutenticacion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_ObtenerTarjetaAutenticacion] AS' 
END
GO

/* ============================================================
   PROCEDIMIENTO: OBTENER TARJETA PARA AUTENTICACIÓN

   La API recibirá el número de tarjeta y utilizará NipHash
   para comparar el NIP mediante BCrypt en C#.
   ============================================================ */
ALTER   PROCEDURE [dbo].[sp_ObtenerTarjetaAutenticacion]
    @NumeroTarjeta CHAR(16)
AS
BEGIN
    SET NOCOUNT ON;

    IF @NumeroTarjeta IS NULL
       OR LEN(@NumeroTarjeta) <> 16
       OR @NumeroTarjeta LIKE '%[^0-9]%'
    BEGIN
        ;THROW 50010,
            N'El número de tarjeta debe contener exactamente 16 dígitos.',
            1;
    END;

    SELECT
        t.IdTarjeta,
        t.NumeroTarjeta,
        t.NipHash,
        t.Bloqueada,
        t.IntentosFallidos,
        t.Activa AS TarjetaActiva,

        c.IdCuenta,
        c.NumeroCuenta,
        c.Saldo,
        c.Activa AS CuentaActiva,

        u.IdUsuario,
        u.Nombre,
        u.ApellidoPaterno,
        u.ApellidoMaterno,
        u.Correo,
        u.Activo AS UsuarioActivo
    FROM dbo.Tarjetas AS t
    INNER JOIN dbo.Cuentas AS c
        ON t.IdCuenta = c.IdCuenta
    INNER JOIN dbo.Usuarios AS u
        ON c.IdUsuario = u.IdUsuario
    WHERE t.NumeroTarjeta = @NumeroTarjeta;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarDeposito] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_RegistrarDeposito]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_RegistrarDeposito] AS' 
END
GO

ALTER   PROCEDURE [dbo].[sp_RegistrarDeposito]
    @IdCuenta INT,
    @Monto DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @Monto IS NULL OR @Monto <= 0
    BEGIN
        ;THROW 50003,
            N'El monto del depósito debe ser mayor que cero.',
            1;
    END;

    DECLARE @SaldoAnterior DECIMAL(18,2);
    DECLARE @SaldoPosterior DECIMAL(18,2);
    DECLARE @IdTransaccion BIGINT;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @SaldoAnterior = Saldo
        FROM dbo.Cuentas WITH (UPDLOCK, HOLDLOCK)
        WHERE IdCuenta = @IdCuenta
          AND Activa = 1;

        IF @SaldoAnterior IS NULL
        BEGIN
            ;THROW 50001,
                N'La cuenta no existe o se encuentra inactiva.',
                1;
        END;

        SET @SaldoPosterior = @SaldoAnterior + @Monto;

        UPDATE dbo.Cuentas
        SET Saldo = @SaldoPosterior
        WHERE IdCuenta = @IdCuenta;

        INSERT INTO dbo.Transacciones
        (
            IdCuenta,
            Tipo,
            Monto,
            SaldoAnterior,
            SaldoPosterior,
            Estado
        )
        VALUES
        (
            @IdCuenta,
            'DEPOSITO',
            @Monto,
            @SaldoAnterior,
            @SaldoPosterior,
            'APLICADA'
        );

        SET @IdTransaccion =
            CONVERT(BIGINT, SCOPE_IDENTITY());

        COMMIT TRANSACTION;

        SELECT
            @IdTransaccion AS IdTransaccion,
            'DEPOSITO' AS Tipo,
            @Monto AS Monto,
            @SaldoAnterior AS SaldoAnterior,
            @SaldoPosterior AS SaldoPosterior,
            N'Depósito realizado correctamente.' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        ;THROW;
    END CATCH;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarIntentoFallido] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_RegistrarIntentoFallido]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_RegistrarIntentoFallido] AS' 
END
GO

/* ============================================================
   PROCEDIMIENTO: REGISTRAR INTENTO FALLIDO

   Incrementa los intentos fallidos.
   Al llegar a 3, bloquea la tarjeta.
   ============================================================ */
ALTER   PROCEDURE [dbo].[sp_RegistrarIntentoFallido]
    @IdTarjeta INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @IntentosFallidos TINYINT;
    DECLARE @Bloqueada BIT;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT
            @IntentosFallidos = IntentosFallidos,
            @Bloqueada = Bloqueada
        FROM dbo.Tarjetas WITH (UPDLOCK, HOLDLOCK)
        WHERE IdTarjeta = @IdTarjeta
          AND Activa = 1;

        IF @IntentosFallidos IS NULL
        BEGIN
            ;THROW 50011,
                N'La tarjeta no existe o se encuentra inactiva.',
                1;
        END;

        IF @Bloqueada = 1
        BEGIN
            ;THROW 50012,
                N'La tarjeta se encuentra bloqueada.',
                1;
        END;

        SET @IntentosFallidos = @IntentosFallidos + 1;

        IF @IntentosFallidos >= 3
            SET @Bloqueada = 1;
        ELSE
            SET @Bloqueada = 0;

        UPDATE dbo.Tarjetas
        SET
            IntentosFallidos = @IntentosFallidos,
            Bloqueada = @Bloqueada
        WHERE IdTarjeta = @IdTarjeta;

        COMMIT TRANSACTION;

        SELECT
            IdTarjeta,
            NumeroTarjeta,
            IntentosFallidos,
            Bloqueada,
            CASE
                WHEN Bloqueada = 1
                    THEN N'Tarjeta bloqueada por exceder los intentos permitidos.'
                ELSE N'Intento fallido registrado.'
            END AS Mensaje
        FROM dbo.Tarjetas
        WHERE IdTarjeta = @IdTarjeta;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        ;THROW;
    END CATCH;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarRetiro] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_RegistrarRetiro]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_RegistrarRetiro] AS' 
END
GO

ALTER   PROCEDURE [dbo].[sp_RegistrarRetiro]
    @IdCuenta INT,
    @Monto DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @Monto IS NULL OR @Monto <= 0
    BEGIN
        ;THROW 50003,
            N'El monto del retiro debe ser mayor que cero.',
            1;
    END;

    DECLARE @SaldoAnterior DECIMAL(18,2);
    DECLARE @SaldoPosterior DECIMAL(18,2);
    DECLARE @IdTransaccion BIGINT;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @SaldoAnterior = Saldo
        FROM dbo.Cuentas WITH (UPDLOCK, HOLDLOCK)
        WHERE IdCuenta = @IdCuenta
          AND Activa = 1;

        IF @SaldoAnterior IS NULL
        BEGIN
            ;THROW 50001,
                N'La cuenta no existe o se encuentra inactiva.',
                1;
        END;

        IF @SaldoAnterior < @Monto
        BEGIN
            INSERT INTO dbo.Transacciones
            (
                IdCuenta,
                Tipo,
                Monto,
                SaldoAnterior,
                SaldoPosterior,
                Estado
            )
            VALUES
            (
                @IdCuenta,
                'RETIRO',
                @Monto,
                @SaldoAnterior,
                @SaldoAnterior,
                'RECHAZADA'
            );

            COMMIT TRANSACTION;

            ;THROW 50004,
                N'Saldo insuficiente para realizar la operación.',
                1;
        END;

        SET @SaldoPosterior = @SaldoAnterior - @Monto;

        UPDATE dbo.Cuentas
        SET Saldo = @SaldoPosterior
        WHERE IdCuenta = @IdCuenta;

        INSERT INTO dbo.Transacciones
        (
            IdCuenta,
            Tipo,
            Monto,
            SaldoAnterior,
            SaldoPosterior,
            Estado
        )
        VALUES
        (
            @IdCuenta,
            'RETIRO',
            @Monto,
            @SaldoAnterior,
            @SaldoPosterior,
            'APLICADA'
        );

        SET @IdTransaccion =
            CONVERT(BIGINT, SCOPE_IDENTITY());

        COMMIT TRANSACTION;

        SELECT
            @IdTransaccion AS IdTransaccion,
            'RETIRO' AS Tipo,
            @Monto AS Monto,
            @SaldoAnterior AS SaldoAnterior,
            @SaldoPosterior AS SaldoPosterior,
            N'Retiro realizado correctamente.' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        ;THROW;
    END CATCH;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RestablecerIntentosFallidos] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_RestablecerIntentosFallidos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_RestablecerIntentosFallidos] AS' 
END
GO

/* ============================================================
   PROCEDIMIENTO: RESTABLECER INTENTOS FALLIDOS

   Se ejecuta después de validar correctamente el NIP.
   ============================================================ */
ALTER   PROCEDURE [dbo].[sp_RestablecerIntentosFallidos]
    @IdTarjeta INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Tarjetas
    SET IntentosFallidos = 0
    WHERE IdTarjeta = @IdTarjeta
      AND Activa = 1
      AND Bloqueada = 0;

    IF @@ROWCOUNT = 0
    BEGIN
        ;THROW 50013,
            N'La tarjeta no existe, está inactiva o se encuentra bloqueada.',
            1;
    END;

    SELECT
        IdTarjeta,
        NumeroTarjeta,
        IntentosFallidos,
        Bloqueada,
        N'Intentos fallidos restablecidos correctamente.' AS Mensaje
    FROM dbo.Tarjetas
    WHERE IdTarjeta = @IdTarjeta;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RevertirTransaccion] Fecha de script: 23/07/2026 05:01:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_RevertirTransaccion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_RevertirTransaccion] AS' 
END
GO

/* ============================================================
   12. PROCEDIMIENTO: REVERTIR TRANSACCIÓN
   No elimina la transacción; conserva el historial.
   ============================================================ */
ALTER   PROCEDURE [dbo].[sp_RevertirTransaccion]
    @IdTransaccion BIGINT,
    @Motivo NVARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @IdCuenta INT;
    DECLARE @TipoOriginal VARCHAR(10);
    DECLARE @Monto DECIMAL(18,2);
    DECLARE @SaldoAnterior DECIMAL(18,2);
    DECLARE @SaldoPosterior DECIMAL(18,2);
    DECLARE @IdReversion BIGINT;

    BEGIN TRY
        BEGIN TRANSACTION;

        /* Obtener y bloquear la transacción original */
        SELECT
            @IdCuenta = IdCuenta,
            @TipoOriginal = Tipo,
            @Monto = Monto
        FROM dbo.Transacciones WITH (UPDLOCK, HOLDLOCK)
        WHERE IdTransaccion = @IdTransaccion
          AND Estado = 'APLICADA'
          AND Tipo IN ('DEPOSITO', 'RETIRO');

        IF @IdCuenta IS NULL
        BEGIN
            ;THROW 50007,
                N'La transacción no existe, no está aplicada o no puede revertirse.',
                1;
        END;

        /* Evitar que se revierta dos veces */
        IF EXISTS
        (
            SELECT 1
            FROM dbo.Transacciones
            WHERE IdTransaccionOriginal = @IdTransaccion
        )
        BEGIN
            ;THROW 50008,
                N'La transacción ya fue revertida.',
                1;
        END;

        /* Obtener y bloquear la cuenta */
        SELECT @SaldoAnterior = Saldo
        FROM dbo.Cuentas WITH (UPDLOCK, HOLDLOCK)
        WHERE IdCuenta = @IdCuenta
          AND Activa = 1;

        IF @SaldoAnterior IS NULL
        BEGIN
            ;THROW 50001,
                N'La cuenta no existe o se encuentra inactiva.',
                1;
        END;

        /*
          Si se revierte un depósito, se descuenta el monto.
          Si se revierte un retiro, se devuelve el monto.
        */
        IF @TipoOriginal = 'DEPOSITO'
        BEGIN
            IF @SaldoAnterior < @Monto
            BEGIN
                ;THROW 50009,
                    N'No existe saldo suficiente para revertir el depósito.',
                    1;
            END;

            SET @SaldoPosterior = @SaldoAnterior - @Monto;
        END;
        ELSE
        BEGIN
            SET @SaldoPosterior = @SaldoAnterior + @Monto;
        END;

        /* Actualizar el saldo de la cuenta */
        UPDATE dbo.Cuentas
        SET Saldo = @SaldoPosterior
        WHERE IdCuenta = @IdCuenta;

        /* Marcar la transacción original como revertida */
        UPDATE dbo.Transacciones
        SET
            Estado = 'REVERTIDA',
            MotivoReversion = @Motivo
        WHERE IdTransaccion = @IdTransaccion;

        /* Registrar el movimiento inverso */
        INSERT INTO dbo.Transacciones
        (
            IdCuenta,
            Tipo,
            Monto,
            SaldoAnterior,
            SaldoPosterior,
            Estado,
            IdTransaccionOriginal,
            MotivoReversion
        )
        VALUES
        (
            @IdCuenta,
            'REVERSO',
            @Monto,
            @SaldoAnterior,
            @SaldoPosterior,
            'APLICADA',
            @IdTransaccion,
            @Motivo
        );

        SET @IdReversion =
            CONVERT(BIGINT, SCOPE_IDENTITY());

        COMMIT TRANSACTION;

        SELECT
            @IdReversion AS IdReversion,
            @IdTransaccion AS IdTransaccionOriginal,
            @Monto AS Monto,
            @SaldoAnterior AS SaldoAnterior,
            @SaldoPosterior AS SaldoPosterior,
            N'Transacción revertida correctamente.' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        ;THROW;
    END CATCH;
END;
GO
USE [master]
GO
